<script setup>
import { ref } from 'vue'
import Block from './Block.vue';

const blockNumber = ref(8);
const blockDetail = ref({
  title: 'block',
  description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vestibulum eros nisi, eu sagittis nisl feugiat quis.'
})

</script>

<template>
  <div class="blocks">
    <Block :block="blockDetail" v-for="(item, index) in blockNumber" key="index" />
  </div>
</template>

<style lang="scss">
  .blocks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
      margin-bottom: 30px;
    }
  }
</style>