<script setup>
import { ref, reactive } from 'vue'
import InfoIcon from './icons/Info.vue';
import PlusIcon from './icons/Plus.vue';
import MinusIcon from './icons/Minus.vue';

const open = ref(false);
const description = ref('');

const { block } = defineProps(['block'])

const state = reactive({
  open: open,
  description: description,
})

ellipsisDescription();

async function ellipsisDescription() {
  let result = '';
  const array = block.description.split(" ");
  
  array.map((word, index) => {
    if(index >= 8) return
    else result = result + ' ' + word;
  })
  state.description = result;
}

async function handleExpand(open) {
  state.open = !open;

  if(!open) {
    state.description = block.description;
  } else {
    ellipsisDescription();
  }
}
</script>

<template>
  <div class="block-wrap">
    <div class="block">
      <div class="block-head">
        <InfoIcon />
      </div>
      <div class="block-body">
        <h4>{{ block.title }}</h4>
        <p>
          {{ description }}
        </p>

        <button @click="handleExpand(open)">
          <span v-if="open === false">
            <PlusIcon />
          </span>
          <span v-else>
            <MinusIcon />
          </span>
        </button>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
  .block-wrap {
    width: 100%;

    @media screen and (min-width: 768px) {
      width: calc(50% - 15px);        
    }
    @media screen and (min-width: 1024px) {
      width: calc(33.33% - 20px);
    }
    @media screen and (min-width: 1440px) {
      width: calc(25% - 22.5px);
    }
  }

  .block {
    &-head {
      padding-block: 26px;
      background-color: var(--bg-color-dark-green);
      text-align: center;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &-body {
      background-color: var(--color-black);
      padding-inline: 32px;
      text-align: center;

      h4 {
        padding-block: 20px;
      }

      button {
        width: 34px;
        height: 34px;
        margin-block: 17px;
        background-color: var(--bg-color-light-black);
        border-radius: 50%;
        border-width: 0;
        cursor: pointer;

        & > span {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      @media screen and (min-width: 768px) {
        padding-inline: 70px;
        
      }
    }
  }
</style>