/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-white: #FFFFFF;
  --color-green-text:#65757E;

  --color-black: #000000;
  --bg-color-light-black: #1C2026;

  --bg-color-dark-green: #57665F;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

/*
* Font
*/

@font-face {
  font-family: 'Proxima';
  src: url('./fonts/ProximaNova-Regular.eot');
  src: url('./fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
      url('./fonts/ProximaNova-Regular.woff2') format('woff2'),
      url('./fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/GothamBold.eot');
  src: url('./fonts/GothamBold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/GothamBold.woff2') format('woff2'),
      url('./fonts/GothamBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Proxima', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  line-height: 1.4;
  color: var(--color-green-text);
  background: var(--bg-color-light-black);
}
