@import './base.css';

h1, h2, h3, h4, h5 {
  color: var(--color-white);
}

h1 {
  font-family: 'Gotham', 'Helvetica Neue', sans-serif;
  font-size: 28px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 37px;
  }
}

h4 {
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
}

