<template>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="2" viewBox="203 574 10 2"><image width="10" height="2" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAACCAYAAABhYU3QAAAAAXNSR0IArs4c6QAAABNJREFUGFdj/P///38GIgAjsQoB1wQH+77QvvYAAAAASUVORK5CYII=" data-name="Layer 101 copy" transform="translate(203 574)"/></svg>
</template>