<template>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10" viewBox="971 883 10 10"><image width="10" height="10" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAACtJREFUKFNjZEAD/////w8SYmRkZESWQuGAJOioEGYVulvR+YxEKxwCvgYA3FEoA70qm4gAAAAASUVORK5CYII=" data-name="Layer 101 copy 5" transform="translate(971 883)"/></svg>
</template>