<script setup>
import Blocks from './components/Blocks.vue'

</script>

<template>
  <header>
    <h1>Experienced & Multi-Talented</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tortor leo, porttitor vel dictum at, aliquam et augue. Duis vel molestie risus, ut lobortis felis.</p>
  </header>

  <main>
    <Blocks />
  </main>
</template>

<style lang="scss">
  header {
    max-width: 645px;
    margin-inline: auto;
    margin-bottom: 50px;
    padding-top: 100px;
    padding-inline: 20px;
    text-align: center;

    h1 {
      position: relative;
      margin-bottom: 54px;

      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 32px;
        height: 2px;
        content: '';
        transform: translate(-50%, 24px);
        background-color: var(--color-white);
      }
    }
  }

  main {
    padding-inline: 20px;

    @media screen and (min-width: 768px) {
      padding-inline: 30px;
    }
  }
</style>
